@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Radley:ital@0;1&display=swap');

/* Global styles */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", serif;
    background-color: white;
}

h1, h2, h3 {
    font-family:"Radley", serif;
    color: black;
    text-transform: uppercase;
}

/* Buttons */

.custom-button-filled {
    border: 2px solid rgb(204, 226, 249);
    background-color: rgb(189, 195, 199);
    color: black;
}

.custom-button-filled:hover {
    border: 2px solid rgb(183, 213, 246);
    background-color: rgb(137, 142, 146);
    color: white;
}

.custom-button-filled-news {
    border: 2px solid rgb(81, 83, 84);
    background-color: rgb(81, 83, 84);
    color: white;
}

.custom-button-filled-news:hover {
    border: 2px solid white;
    background-color: black;
    color: white;
}

/* Navbar*/

#navbar {
    position: sticky;
    top: 0;
    z-index: 10;
}

#navbar .logo {
    height: 50px;
    padding-left: 10px;
}

.navbar {
    background-image: linear-gradient(to right, #f9f9f9, #b4b4b4);
    padding: 0 !important;
}

.navbar-nav li {
    padding: 0 2px;
}

.navbar-nav li a {
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars-staggered {
    color: #3c3c3c;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;
}

/* banner */

.bottom-img {
    width: 115% ;
    margin-bottom: -6%;
    margin-left: -6%;
 }

#banner {
    background-image: linear-gradient(to right, #f9f9f9, #b4b4b4);
    color: #3c3c3c;
    padding: 5%;
}

/*.promo-title {
    font-size: 50px;
    font-weight: 600;
    margin-top: 50px;
}*/


/*services about*/

#about {
    padding: 30px 0;
}

/*.service-img {
     width: 100%;
    height: 15vw;
    object-fit: cover;
}*/

.services {
    padding: 20px;
}

.services h3 {
    padding: 5px;
    margin-top: 20px;
    text-transform: uppercase;
}

.title::before {
    content: '';
    background-color: #3c3c3c;
    height: 5px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

.title::after {
    content: '';
    background-color: #3c3c3c;
    height: 10px;
    width: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}

#about .btn-about {
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #f9f9f9, #b4b4b4);
    color: black;

}

#about .btn-about:hover {
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to left, #f9f9f9, #b4b4b4);
    color: black;

}


#about .card {
    margin-bottom: 1rem;
}

.card {
    background-image: linear-gradient(to left, #f9f9f9, #f0f0f0);
}

/* reviews */

.top-img {
    width: 106% ;
    height: auto;
    margin-top: -35px;
 }

#reviews {
    padding: 30px 0;
    background-image: linear-gradient(to right, #f9f9f9, #b4b4b4);
}

.reviews {
    border-left: 4px solid #b4b4b4;
    margin-top: 50px;
    margin-bottom: 50px;
}

.reviews img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}

.user-details {
    display: inline-block;
    font-size: 12px;
}

/* Contact US */

.bottom-img-2 {
    width: 100% ;
    height: auto;
    margin-bottom: -30px;
}

#contact-us {
    padding: 30px 0;
}

#contact-us form {
    max-width: 600px;
    padding: 20px;
    font-weight: 600;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 70%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/*Social Media section*/

#social-media {
    padding: 100px 0;
}

.social-icons img {
    width: 60px;
    transition: 0.5s;

}

.social-icons a:hover img {
    transform: translateY(-10px);

}

/* footer */

#footer {
    background-image: linear-gradient(to right, #f9f9f9, #b4b4b4);
}

.footer-img {
    width: 100%;
}

.footer-box {
    padding: 20px;
}


.footer-box img {
    width: 120px;
    margin-bottom: 20px;
}

.footer-box .fa {
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
}

.footer-box .form-control {
    box-shadow: none;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}





/* Media Queries*/

@media screen and (min-width: 300px) {
    .bottom-img {
        width: 115% ;
        margin-bottom: -10%;
        margin-left: -6%;
     } 
    
    .top-img {
        width: 115% ;
        height: auto;
        margin-top: -57px;
     }
     .bottom-img-2 {
        width: 100% ;
        margin-top: 0%;
        margin-bottom: -56px;}

}


@media screen and (min-width: 350px) {
    .bottom-img {
        width: 115% ;
        margin-bottom: -9%;
        margin-left: -6%;
     }
    
    .top-img {
        width: 115% ;
        height: auto;
        margin-top: -54px;
     }
    .bottom-img-2 {
        width: 100% ;
        margin-top: 0%;
        margin-bottom: -50px;}

}

@media screen and (min-width: 387px) {
    .bottom-img {
        width: 115% ;
        margin-bottom: -8%;
        margin-left: -6%;
     }
    
    
    .top-img {
        width: 115% ;
        height: auto;
        margin-top: -52px;
     }
    .bottom-img-2 {
        width: 100% ;
        margin-top: 0%;
        margin-bottom: -48px;}


}

@media screen and (min-width: 432px) {
    .bottom-img {
        width: 115% ;
        margin-bottom: -8%;
        margin-left: -6%;
     }
    
    .top-img {
        width: 115% ;
        height: auto;
        margin-top: -48px;
     }
    .bottom-img-2 {
        width: 100% ;
        margin-top: 0%;
        margin-bottom: -43px;}

}

@media screen and (min-width: 487px) {
    .bottom-img {
        width: 115% ;
        margin-bottom: -7%;
        margin-left: -6%;
     }
    
    .top-img {
        width: 115% ;
        height: auto;
        margin-top: -46px;
     }
    .bottom-img-2 {
        width: 100% ;
        height: 0%;
        margin-bottom: -38px;
    }
    
}


@media screen and (min-width: 500px) {
    .bottom-img {
        width: 115% ;
        margin-bottom: -6%;
        margin-left: -6%;
     }
    
    .top-img {
        width: 115% ;
        height: auto;
        margin-top: -42px;
     }
    .bottom-img-2 {
        width: 100% ;
        height: 0%;
        margin-bottom: -36px;
    }
    
}


@media screen and (min-width: 540px) {
    .bottom-img {
        width: 115% ;
        margin-bottom: -6%;
        margin-left: -6%;
     }
    
    .top-img {
    width: 115% ;
    height: auto;
    margin-top: -35px;
    }
    
    .bottom-img-2 {
        width: 100% ;
        height: 0%;
        margin-bottom: -32px;
    }
    
}




@media screen and (max-width: 768px) {
    /* stop subheading underline crossing into subheading */
    .title::before {
        content: '';
        background-color: #3c3c3c;
        height: 5px;
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        transform: translateY(50px);
    }

}