@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Radley:ital@0;1&display=swap');

/* Global styles */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", serif;
    background-color: white;
}

h1, h2, h3 {
    font-family:"Radley", serif;
    color: black;
    text-transform: uppercase;
}

/* Buttons */

.custom-button-filled {
    border: 2px solid rgb(204, 226, 249);
    background-color: rgb(189, 195, 199);
    color: black;
}

.custom-button-filled:hover {
    border: 2px solid rgb(183, 213, 246);
    background-color: rgb(137, 142, 146);
    color: white;
}

/* Navbar*/

#navbar {
    position: sticky;
    top: 0;
    z-index: 10;
}

#navbar .logo {
    height: 50px;
    padding-left: 10px;
}

.navbar {
    background-image: linear-gradient(to right, #f9f9f9, #b4b4b4);
    padding: 0 !important;
}

.navbar-nav li {
    padding: 0 2px;
}

.navbar-nav li a {
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars-staggered {
    color: #3c3c3c;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;
}

/* banner */

.bottom-img {
    width: 115% ;
    margin-bottom: -6%;
    margin-left: -6%;
 }

#banner {
    background-image: linear-gradient(to right, #f9f9f9, #b4b4b4);
    color: #3c3c3c;
    padding: 5%;
}

/*.promo-title {
    font-size: 50px;
    font-weight: 600;
    margin-top: 50px;
}*/


/*services about*/

#about {
    padding: 30px 0;
}

/*.service-img {
     width: 100%;
    height: 15vw;
    object-fit: cover;
}*/

.services {
    padding: 20px;
}

.services h3 {
    padding: 5px;
    margin-top: 20px;
    text-transform: uppercase;
}

.title::before {
    content: '';
    background-color: #3c3c3c;
    height: 5px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

.title::after {
    content: '';
    background-color: #3c3c3c;
    height: 10px;
    width: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}

#about .btn-about {
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #f9f9f9, #b4b4b4);
    color: black;

}

#about .btn-about:hover {
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to left, #f9f9f9, #b4b4b4);
    color: black;

}


#about .card {
    margin-bottom: 1rem;
}

.card {
    background-image: linear-gradient(to left, #f9f9f9, #f0f0f0);
}

/* reviews */

.top-img {
    width: 106% ;
    height: auto;
    margin-top: -35px;
 }

#reviews {
    padding: 30px 0;
    background-image: linear-gradient(to right, #f9f9f9, #b4b4b4);
}

.reviews {
    border-left: 4px solid #b4b4b4;
    margin-top: 50px;
    margin-bottom: 50px;
}

.reviews img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}

.user-details {
    display: inline-block;
    font-size: 12px;
}





/* Media Queries*/

@media screen and (max-width: 768px) {
    /* stop subheading underline crossing into subheading */
    .title::before {
        content: '';
        background-color: #3c3c3c;
        height: 5px;
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        transform: translateY(50px);
    }

}